@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

body {
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #0f172a;
  color: #fff;
}

header {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Hide the logo on small screens when the menu is open */
.navbar-collapse.show #logo {
  display: none;
}

/* Center the logo for small screens */
.navbar-brand {
  margin: 0 auto;
}

/* Center the navigation links for small screens */
.navbar-nav.ml-auto {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  text-align: left;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#about 
{
  padding: 20px;
}

#experience 
{
  padding: 20px;
}

#projects 
{
  padding: 20px;
  margin: 40px
}

#skills 
{
  padding: 20px;
}

#resume 
{
  padding: 20px;
}

#contact 
{
  padding: 20px;
}

.typing
{
  text-align: left;
}

/* Set the styles for h1 and h2 elements */
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 88px;
  color: #ccd6f6; /* Color for "Jordan Yee" */
}

h7 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #64ffda;
}

.title h1 span {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 72px;
  color: #8892b0; /* Color for "I like..." */
}

main {
  padding: 20px;
  flex-grow: 1;
}

section {
  margin-bottom: 20px;
}

article {
  margin-bottom: 15px;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.typing {
  display: inline;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* Make the navbar transparent */
.navbar {
  background-color: transparent;
}

/* Remove background color and border from the navbar links */
.navbar-nav .nav-link {
  background-color: transparent;
  border: none;
}

/* Add custom CSS to make the navbar transparent and text white */
.navbar {
  background-color: transparent !important;
}
.navbar-brand {
  color: #fff !important; /* Set the color of the brand (JY) to white */
}
.navbar-nav .nav-link {
  color: #fff !important;
}

/* Set the container to take full width of the viewport */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Fix the alignment of the JY logo on small screens */
@media (max-width: 767px) {
  .navbar-brand {
    margin-right: auto;
  }
}

/* Change the dropdown menu icon to white */
.navbar-toggler-icon {
  background-color: #fff;
}