body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222; /* Fallback color */
    background-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff0000, #00ff00);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  