@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #ccd6f6;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

body.landing-page {
    font-family: 'Calibre', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #171717;
    color: #fff;
}

body.content-page {
    font-family: 'Calibre', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #171717;
    color: #fff;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar-collapse.show #logo {
    display: none;
}

.navbar-brand {
    margin: 0 auto;
}

.navbar-brand {
    font-family: 'DM Sans', sans-serif;
    color: #fff !important;
    transition: transform 0.5s, box-shadow 0.5s;
    font-size: 30px;
}

.navbar-brand:hover {
    transform: translateY(-5px) scale(1.05);
}

.navbar-nav.ml-auto {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    flex-direction: column;
}


.title {
    text-align: left;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.navbar-brand[href="/"] {
    color: #64ffda !important;
}

#about {
    margin-top: 50px;
}

#experience {
    margin-top: 200px;
}

#projects {
    margin-top: 120px
}

#contact {
    margin-top: 200px;
}

.btn.resume-button {
    font-family: 'DM Sans', sans-serif;
    color: #64ffda;
    border: 2px solid #64ffda;
    border-radius: 5px;
    transition: transform 0.5s, box-shadow 0.5s;
    font-size: 15px;
}

.btn.resume-button:hover {
    transform: translateY(-5px) scale(1.05);
}

.btn.resume-button:focus {
    outline: none;
    box-shadow: none;
    border-color: #64ffda;
}

.nav-item a[href="#resume"] {
    color: #64ffda !important;
}

.nav-item a[href="/content"]:hover,
.nav-item a[href="#experience"]:hover,
.nav-item a[href="#projects"]:hover,
.nav-item a[href="#contact"]:hover {
    color: #64ffda !important;
}

.nav-item a[href="/content"]:hover,
.nav-item a[href="/content/#experience"]:hover,
.nav-item a[href="/content/#projects"]:hover,
.nav-item a[href="/content/#contact"]:hover {
    color: #64ffda !important;
}

.nav-item {
    margin-right: 20px;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 88px;
    color: #ccd6f6;
    margin-bottom: 5px;
    word-spacing: 2px;
}

.title .header {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #64ffda;
    margin-bottom: 30px;
    word-spacing: 5px;
}

.white-text {
    color: #8892b0;
    font-size: 18px;
    max-width: 600px;
    line-height: 26px;
    margin-bottom: 30px;
}

.green-highlight,
a.green-highlight {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

a.green-highlight:hover {
    transform: translateY(-5px);
    color: #ccd6f6;
}

.green-highlight {
    color: #64ffda;
}

.title h1 span {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 72px;
    color: #8892b0;
    word-spacing: 2px;
    display: inline-block;
    margin-bottom: 30px;
}

main {
    padding: 20px;
    flex-grow: 1;
}

section {
    margin-bottom: 20px;
}

article {
    margin-bottom: 15px;
}

footer {
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    color: #8892b0;
    text-align: center;
    padding: 10px 0;
    margin-top: 150px;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

footer a:hover {
    color: #64ffda;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-5px);
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typing::after {
    content: ' ';
    display: inline;
    margin-left: 0;
    border-right: .2ch solid;
    transform: translateY(-.15em);
    animation: blink 1s steps(1) infinite;
}

.navbar {
    background-color: transparent;
    position: relative;
    z-index: 100;
}

.navbar-nav .nav-link {
    background-color: transparent;
    border: none;
}

.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    color: #fff !important;
    font-size: 25px !important;
}

.navbar-nav .nav-link {
    font-family: 'DM Sans', sans-serif;
    color: #ccd6f6 !important;
    font-size: 15px;
}

.navbar-brand {
    margin: 0 !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.title h1 {
    font-size: 80px;
    line-height: 88px;
}

.title h1 span {
    font-size: 80px;
    line-height: 72px;
    color: #8892b0;
}

@media (max-width: 1200px) {
    .title h1 {
        font-size: 64px;
        line-height: 70px;
    }

    .title h1 span {
        font-size: 64px;
        line-height: 58px;
    }
}

@media (max-width: 992px) {
    .title h1 {
        font-size: 48px;
        line-height: 52px;
    }

    .title h1 span {
        font-size: 48px;
        line-height: 43px;
    }
}

@media (max-width: 767px) {
    .title h1 {
        font-size: 32px;
        line-height: 35px;
    }

    .title h1 span {
        font-size: 32px;
        line-height: 29px;
    }
}

.navbar-toggler-icon {
    background-color: #64ffda;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FFFFFF;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

@media (max-width: 767px) {
    .ham {
        display: block;
    }
}

@media (min-width: 768px) {
    .ham {
        display: none;
    }
}

.social-overlap {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 0vh;
    width: 100%;
}

@media (max-width: 992px) {
    .social-overlap {
        margin-left: -2%;
    }
}

@media (max-width: 768px) {
    .social-overlap {
        margin-left: -2.5%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .social-overlap {
        margin-left: -1.3%;
    }
}

@media (min-width: 1201px) {
    .social-overlap {
        margin-left: -1.2%;
    }
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.social-icons a {
    border-radius: 50px;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    margin: 15px 15px;
    font-size: 22px;
}

.slider-nav-item img {
    width: 25px;
    height: 25px;
    transform: translateY(-5%);
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #ccd6f6;
    cursor: pointer;
    transition: all 0.4s ease;
}

.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

.process-scetion .slider-nav-item:nth-child(2) {
    color: #0077B5;
}

.process-scetion .slider-nav-item:nth-child(3) {
    color: #000000;
}

.process-scetion .slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: "";
    width: 100%;
    background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite;
}

.process-scetion .slider-nav-item:last-child:after {
    display: none;
}

.process-scetion .slider-nav-item .ikon {
    font-size: 50px;
    line-height: 80px;
}

.process-scetion .slider-nav-item.active:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}

@keyframes focuse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }

    75% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

.shadow-img1 {
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.shadow-img2 {
    background-position: bottom;
    background-image: url("../img/shadow2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: "";
    width: 50%;
    background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite;
}

.mt100 {
    margin-top: 30px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-24 11:37:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes gmail-jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1) translateY(-5%);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1) translateY(-5%);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1) translateY(-5%);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1) translateY(-5%);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1) translateY(-5%);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1) translateY(-5%);
    }

    100% {
        transform: scale3d(1, 1, 1) translateY(-5%);
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.social-bar a:hover i {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.gmail-icon:hover img {
    animation: gmail-jello-horizontal 0.9s both;
}

@media only screen and (max-width: 300px) {
    .process-scetion .slider-nav-item {
        height: 30px;
        width: 30px;
        margin: 15px 10px;
        line-height: 28px;
    }
}

#about {
    padding-left: 60px;
}

#about .about-header {
    display: flex;
    align-items: center;
}

#about h1 {
    font-size: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #ccd6f6;
}

.about-me-content {
    text-align: left;
    max-width: 50%;
    margin-top: 15px;
    color: #8892b0;
    font-size: 18px;
    line-height: 26px;
}

.skills-content {
    text-align: left;
    max-width: 87%;
    margin-top: 15px;
    color: #8892b0;
    font-size: 18px;
    line-height: 26px;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    transition: all 0.3s ease;
    margin: 15px;
    padding: 15px;
    background-color: #252525;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.fa-regular.fa-folder {
    font-size: 2.5em;
    color: #64ffda;
    padding: 20px;
    margin-bottom: -35px;
    transition: color 0.3s ease;
}

.card:hover i.fa-regular.fa-folder {
    color: #ccd6f6 !important;
}

.card-body {
    margin: auto;
    padding: 20px;
    font-size: 15px;
    color: #8892b0;
}

.card-title {
    color: #ccd6f6;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 22px;
    margin-bottom: -15px;
}

.card:hover .card-title,
.card:hover .languages {
    color: #64ffda;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.languages {
    transition: color 0.3s ease;
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
    color: #8892b0;
    font-size: 14px;
    word-spacing: 10px;
}

#experience h1 {
    font-size: 32px;
    color: #ccd6f6;
}

.title-container {
    text-align: center;
    margin-bottom: -100px;
    color: #ccd6f6;
}

#experience .company {
    font-size: 22px;
    margin-bottom: -30px;
    color: #ccd6f6;
}

#experience .company span {
    font-size: 22px;
    margin-bottom: -30px;
    color: #64ffda;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#experience .company:hover span {
    transform: translateY(-5px);
    color: #ccd6f6;
}

.timeline-content ul li {
    font-size: 15px;
    color: #8892b0;
}

.timeline-content .experience-description {
    display: block;
    margin-bottom: 20px;
}

.container-experience {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #ccd6f6;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: #a8b2d1;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #8892b0;
}

.project-title {
    font-size: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #ccd6f6;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    color: #ccd6f6;
}

.contact-sub {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

#contact p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 26px;
    width: 50%;
}

.contact-sub {
    color: #64ffda;
}

#contact p {
    color: #8892b0;
    margin-bottom: 50px;
}

.contact-button {
    font-family: 'DM Sans', sans-serif;
    color: #64ffda;
    border: 2px solid #64ffda;
    border-radius: 5px;
    transition: transform 0.5s, box-shadow 0.5s;
    font-size: 16px;
    padding: 10px 20px;
}

.contact-button:hover {
    transform: translateY(-5px) scale(1.05);
}

.contact-button:focus {
    outline: none;
    box-shadow: none;
    border-color: #64ffda;
}

.skills-section {
    margin-top: 250px;
    padding-left: 200px;
    box-sizing: border-box;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'DM Sans', sans-serif;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #00ffc3b0;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ccd6f6;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #ccd6f6;
    border-right: 0.125rem solid #ccd6f6;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ccd6f6;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #ccd6f6;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #171717;
}

button:focus {
    outline: none;
}

#projects {
    text-align: center;
}

#projects {
    text-align: center;
}

@property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@property --i {
    syntax: "<length>";
    initial-value: 0px;
    inherits: true;
}

.circle-effect {
    --r: 8px;
    /* control the small circles radius and the main size */
    --f: 1.7;
    /* control the scale factor, between 1.5 and 2 you get nice result */
    --c: #ccd6f6;
    width: calc(var(--r)*(1 + 1/tan(180deg/15)));
    aspect-ratio: 1;
    border-radius: 50%;
    --_g: /var(--r) var(--r) radial-gradient(var(--c) 70%, #0000 72%) no-repeat;
    --_d: 50% + (50% - var(--i, 0px));
    --_m:
        radial-gradient(var(--c) calc(72% - var(--r)/2), #0000 0) no-repeat 50%/calc(100% - var(--i, 0px)) calc(100% - var(--i, 0px)),
        /* ... rest of the values ... */
        -webkit-mask: linear-gradient(#000 0 0) top/100% 50% no-repeat, var(--_m);
    background: var(--_m);
    --_a: rotate linear infinite;
    animation: var(--_a) 4s, var(--_a) 16s reverse;
    animation-composition: add;
    cursor: pointer;
    transition: --i 0.4s, scale 0.4s;
}

.circle-effect:hover {
    --i: calc(var(--r)/var(--f));
    scale: calc((1 + 1/tan(180deg/15))/(1 - var(--f) + 1/tan(180deg/15)));
    animation-play-state: running, paused;
}

@keyframes rotate {
    to {
        --a: 360deg;
    }
}

.skillbar,
.skillbar-title,
.skill-bar-percent {
    font-family: 'DM Sans', sans-serif;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillbar:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.skillbar:hover .skillbar-title {
    color: #64ffda;
}

.skillbar:hover .skill-bar-percent {
    color: #ccd6f6;
}

.skillbar-bar:before {
    background: #111;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #ccd6f6;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #8892b0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    color: #64ffda;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.wrapper {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}